PROJECT_CONFIG=localisation/config.js

HOST=http://localhost:8080
PG_DATABASE_DEVELOPMENT=localisation_dev
PG_DATABASE_PRODUCTION=localisation
#PG_DATABASE_SCHEMA=demo_survey (default: PROJECT_SHORTNAME)
PG_DATABASE_TEST=tr_test
# Modifier la connection string pour postgres. `postgres:` sont ici les noms d'utilisation et mot de passe pour accéder à la base de données (username:password)
PG_CONNECTION_STRING_PREFIX=postgres://postgres:@localhost:5432/
EXPRESS_SESSION_SECRET_KEY=MYSECRETKEY
# Clé Google pour les cartes
GOOGLE_API_KEY=MYGOOGLEAPIKEY
GOOGLE_API_KEY_DEV=MYGOOGLEAPIKEYFORDEVELOPMENT
# For passwordless login
#MAGIC_LINK_SECRET_KEY=MYVERYLONGSECRETKEYTOENCRYPTTOKENTOSENDTOUSERFORPASSWORDLESSLOGIN

# Les champs plus bas sont non-nécessaires, sauf si on supporte l'authentification oauth par facebook ou google
GOOGLE_OAUTH_CLIENT_ID=GOOGLEOAUTHCLIENTID
GOOGLE_OAUTH_SECRET_KEY=GOOGLEOAUTHSECRETKEY
FACEBOOK_APP_ID=FACEBOOKAPPID
FACEBOOK_APP_SECRET=FACEBOOKAPPSECRET

#SSL_PRIVATE_KEY=/path/to/privkey.pem
#SSL_CERT=/path/to/sslcert.pem

##############################################################
# Mailing configuration, required for sending emails to users
# strategy can be 'smtp' or 'sendmail'
MAIL_TRANSPORT_STRATEGY=smtp

# Sendmail strategy requires a path to sendmail
# MAIL_TRANSPORT_SENDMAIL_PATH=/usr/sbin/sendmail

# smtp requires credentials to the smtp server and additional configurations
MAIL_TRANSPORT_SMTP_HOST=smtp.example.org
MAIL_TRANSPORT_SMTP_PORT=587
# Whether to use TLS 
MAIL_TRANSPORT_SMTP_SECURE=false
# SMTP server credentials
MAIL_TRANSPORT_SMTP_AUTH_USER=myUser
MAIL_TRANSPORT_SMTP_AUTH_PWD=password

# From email
MAIL_FROM_ADDRESS=example@example.org
