$desktop-breakpoint: 50rem;

@keyframes pulse_gradient_turquoise {
    0% {
        background: #00cec7;
    }

    50% {
        background: #006f6b;
    }

    100% {
        background: #00cec7;
    }
}

.button {
    &.turquoise {
        background: linear-gradient(to bottom, #00cec7, #006f6b);
    }

    &.turquoise:hover,
    &.turquoise:active {
        animation: pulse_gradient_turquoise 1s linear infinite;
    }
}

.survey-half-or-full-width-no-margin-before-desktop-breakpoint {
    margin-right: 2rem;
    box-sizing: border-box;

    @media only screen and (max-width: $desktop-breakpoint) {
        width: 100%;
        margin-right: 0;
    }
}

.survey-visited-places-list-and-map-container,
.survey-trips-list-and-map-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $desktop-breakpoint) {
        display: block;
    }

    .survey-visited-places-list,
    .survey-trips-list {
        width: 50%;
        margin-right: 2rem;

        &.full-width {
            width: 100%;
            margin-right: 0;
        }

        @media only screen and (max-width: $desktop-breakpoint) {
            width: 100%;
        }
    }

    .survey-visited-places-map,
    .survey-trips-map {
        width: 50%;

        &.full-width {
            width: 100%;
        }

        @media only screen and (max-width: $desktop-breakpoint) {
            width: 100%;
        }
    }

    .survey-visited-place-item-description {
        @media only screen and (max-width: $desktop-breakpoint) {
            max-width: 80%;
        }
    }

}

.survey-visited-place-item-buttons,
.survey-trip-item-buttons {
    margin-left: auto;
    text-align: right;
}



.survey-visited-place-item,
.survey-trip-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.45rem;
    width: 100%;
    margin: 0;

    @media only screen and (max-width: $desktop-breakpoint) {
        flex-flow: row wrap;
    }

    .survey-visited-place-item-element,
    .survey-trip-item-element {
        display: flex;
        align-items: center;
    }

    .survey-trip-item-origin-description {
        width: 45%;
        overflow: hidden;
        max-height: 8rem;
    }

    .survey-trip-item-destination-description {
        width: 45%;
        overflow: hidden;
        max-height: 8rem;
    }

    &.survey-visited-place-item-selected {
        background-color: rgba(31, 59, 107, 0.1);
        border-color: rgba(28, 58, 109, 0.20);
    }

    &.survey-trip-item-name {
        padding: 0.2rem 0.4rem 0 0.4rem;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        background: rgba(0, 0, 0, 0.04);
    }

    &.survey-trip-item-description {
        padding: 0 0.4rem 0.2rem 0.4rem;
        background: rgba(0, 0, 0, 0.04);
    }

    &.survey-trip-item-mode-icons {
        padding: 0.4em 0.4rem 0.4rem 0.4rem;
        background: rgba(0, 0, 0, 0.04);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 0.4rem;
    }
}

.survey-visited-place-item {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 0.4rem;
    background: rgba(0, 0, 0, 0.04);
}

.survey-visited-places-schedules {
    width: 100%;

    .survey-visited-places-schedule-person-container {
        width: 100%;

        p {
            margin-top: 0.3em;
            margin-bottom: 0;
            font-style: oblique;
        }

        .survey-visited-places-schedule-person {
            width: 100%;
            position: relative;
            height: 2em;
            background: rgba(115, 147, 184, 0.5) url(~evolution-frontend/lib/assets/images/interface_icons/carret-right-white.svg);
            background-size: 1.2em 1.2em;
            background-repeat: repeat-x;
            background-position: center left;

            .survey-visited-places-schedule-visited-place {
                position: absolute;
                border: 1px solid rgba(0, 0, 0, 0.3);
                background: rgba(255, 255, 255, 1.0);
                height: 2em;
                overflow-x: hidden;
                overflow-y: hidden;
                z-index: 1;

                p {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                .survey-visited-places-schedule-visited-place-icon {
                    text-align: center;
                }

                &:hover,
                &:active,
                &:focus {
                    min-width: 10em;
                    height: 4em;
                    z-index: 2;
                }

            }

            .survey-visited-places-schedule-visited-place.hand-cursor-on-hover:hover {
                cursor: pointer;
            }
        }
    }




}



._has_title {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

strong {
    font-weight: 900 !important;
}

.apptr__form-label-container .register-link {
    display: block;
}

._red,
._audit-error {
    color: rgba(187, 51, 51, 0.9) !important;
}

._orange {
    color: rgba(218, 98, 0, 0.9) !important;
}

._blue,
._audit-info {
    color: rgba(28, 136, 191, 0.9) !important;
}

._green {
    color: rgba(76, 123, 0, 0.9) !important;
}

._yellow,
._audit-warning {
    color: rgba(189, 148, 0, 0.9) !important;
}

.survey-section__text {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.faq-title {
    color: #20587d;
    text-decoration: underline;
    text-align: center;
}

.faq-container {
    line-height: 1.6;
    padding: 2rem;
    max-width: 100rem;
    margin: 0 auto;
}

.faq-container ._h2 {
    width: 100%;
    text-align: left;
    font-weight: 300;
    color: rgba(44, 42, 38, 0.6);
    font-size: 130%;
    padding: 0;
    margin: 0;
}

.faq-container p {
    margin-bottom: 1.5rem;
}

.faq-container ul,
.faq-container ol {
    margin-bottom: 1.5rem;
    padding-left: 3rem;
    list-style: inherit !important;
}

.faq-container li {
    margin-bottom: 1rem;
}

.faq-container strong {
    font-weight: bold;
}

.faq-container .toc {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}

.faq-container .toc ul {
    list-style-type: none;
    padding-left: 0;
}

.faq-container .toc li {
    margin-bottom: 0.5rem;
}

details summary {
    cursor: pointer;
}

.survey-trip-item.survey-trip-item-selected {
    background-color: rgba(40, 88, 170, 0.2);
}

.survey-trip-item.survey-trip-item-selected.survey-trip-item-name {
    border-top: 1px solid rgba(7, 67, 171, 0.6);
}

.survey-trip-item.survey-trip-item-selected.survey-trip-item-mode-icons {
    border-bottom: 1px solid rgba(7, 67, 171, 0.6);
}
