@import './common-styles';

#item-nav-user {
    display: none;
}

// Fix the top navigation menu title that overflows on small screens
@media (max-width: 600px) {
    h1 {
        max-width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// Make the map fill the entire container when it's the only child (no list)
.survey-visited-places-list-and-map-container {
    .survey-visited-places-map {
        width: 100%;
    }
}

